:root {
	--color-white: hsl(0, 0%, 100%);
	--color-slate-300: hsl(212, 45%, 89%);
	--color-slate-500: hsl(216, 15%, 48%);
	--color-slate-900: hsl(218, 44%, 22%);
	--card-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);

	font-size: clamp(50%, 0.5vw + 50%, 62.5%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Outfit";
	src: url("assets/fonts/Outfit/Outfit-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	min-height: 100dvh;
	font-family: "Outfit", sans-serif;
	background-color: var(--color-slate-300);
}

main {
	background-color: var(--color-white);
	border-radius: 2rem;
	box-shadow: var(--card-shadow);
	overflow: hidden;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 36rem;
	padding: 1.6rem;
}

.card-image {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 1.5rem;
}

.card-title {
	margin: 2.4rem 0 1.6rem 0;
	font-weight: 700;
	font-size: 2.2rem;
	color: var(--color-slate-900);
}

.card-description {
	margin-block-end: 2.4rem;
	font-weight: 400;
	font-size: 1.5rem;
	color: var(--color-slate-500);
	line-height: 1.5;
}

.attribution {
	margin-block-start: 2rem;
	font-size: 1.2rem;
	color: var(--color-slate-500);
	text-align: center;
}

.attribution a {
	color: var(--color-slate-900);
}

.attribution a:hover {
	text-decoration: underline;
}

.attribution a:focus {
	outline: 2px solid var(--color-slate-900);
	outline-offset: 2px;
}
